In [8]:
import akshare as ak
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

import db

# code_list = ak.stock_info_a_code_name()
df = pd.DataFrame(columns=['total_val', 'stock_id', 'category', 'stock_name'])
# print(code_list['code'][0])
stock_individual_info_em_df = ak.stock_individual_info_em(symbol="000001")
df_transposed = stock_individual_info_em_df.set_index('item').T.reset_index()
df_transposed = df_transposed.rename(columns={
    '总市值': 'total_val',
    '行业': 'category',
    '股票代码': 'stock_id',
    '股票简称': 'stock_name'
})

df = pd.concat([df, df_transposed[['total_val', 'stock_id', 'category', 'stock_name']]], ignore_index=True)


db_username = 'root'
db_password = 'qwertyui'
db_host = 'localhost'  # 或者其他主机地址
db_port = '3306'
db_name = 'schemas'
table_name = 'stock_info'  # 要创建或写入的表的名称

# 创建数据库引擎
engine = create_engine(f'mysql+pymysql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')

# 将数据写入 MySQL
df.to_sql(table_name, engine, if_exists='replace', index=False)

# 关闭数据库连接
engine.dispose()

In [26]:
import akshare as ak
from datetime import datetime
import pandas as pd
now = datetime.now()
data = ak.stock_zh_a_hist_min_em(symbol="000001", period='1', adjust='')
data.rename(columns={
                '时间': 'date',
                '开盘': 'open_price',
                '收盘': 'close_price',
                '最高': 'high_price',
                '最低': 'low_price',
                '成交量': 'volume',
                '成交额': 'turnover',
                '最新价': 'now_price'
            }, inplace=True)
data['date'] = pd.to_datetime(data['date'])
print(now.date())
data = data[data['date'].dt.date == now.date()]
print(data)

2023-11-27
                    date  open_price  close_price  high_price  low_price  \
964  2023-11-27 09:30:00       10.09        10.09       10.09      10.09
965  2023-11-27 09:31:00       10.09        10.05       10.09      10.05
966  2023-11-27 09:32:00       10.06        10.05       10.06      10.04
967  2023-11-27 09:33:00       10.05        10.03       10.05      10.02
968  2023-11-27 09:34:00       10.02        10.02       10.03      10.01
...                  ...         ...          ...         ...        ...
1043 2023-11-27 10:49:00        9.99         9.99        9.99       9.98
1044 2023-11-27 10:50:00        9.99         9.99        9.99       9.98
1045 2023-11-27 10:51:00        9.98         9.99        9.99       9.98
1046 2023-11-27 10:52:00        9.98         9.98        9.99       9.98
1047 2023-11-27 10:53:00        9.98         9.98        9.99       9.98

      volume    turnover  now_price
964     7353   7419177.0     10.090
965    22436  22595789.0     10.076
966    15575  15653843.0     10.067
967    14830  14877317.0     10.059
968    18775  18811480.0     10.049
...      ...         ...        ...
1043    1270   1267821.0     10.001
1044    1161   1158988.0     10.001
1045    1168   1165833.0     10.001
1046    3986   3978236.0     10.001
1047    1993   1989176.0     10.001

[84 rows x 8 columns]

In [39]:
import pandas as pd
import pymysql
from datetime import datetime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import akshare as ak

# 获取数据
data = ak.stock_bid_ask_em(symbol="000001")
data_transposed = data.set_index('item').T.reset_index()
data_transposed['stock_id'] = "000001"
data_transposed['time'] = datetime.now().timestamp()
data_transposed.drop(columns='index', inplace=True)

# 数据库配置
db_username = 'root'
db_password = 'qwertyui'
db_host = 'localhost'
db_port = '3306'
db_name = 'schemas'
table_name = 'stock_bid'

# 创建数据库连接
engine = create_engine(f'mysql+pymysql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')

# 创建会话
Session = sessionmaker(bind=engine)
session = Session()

# 获取数据并处理
data = ak.stock_bid_ask_em(symbol="000001")
data_transposed = data.set_index('item').T.reset_index()
data_transposed['stock_id'] = "000001"
data_transposed['time'] = datetime.now().timestamp()
data_transposed.drop(columns='index', inplace=True)

# 执行删除和插入操作
for index, row in data_transposed.iterrows():
    # 查询是否存在
    existing_data = session.query(StockBid).filter_by(stock_id=row['stock_id']).first()
    if existing_data:
        session.delete(existing_data)
    new_data = StockBid(stock_id=row['stock_id'], ...)
    session.add(new_data)

session.commit()
session.close()

SyntaxError: positional argument follows keyword argument (331269335.py, line 40)

In [41]:
stock_zh_a_hist_df = ak.stock_zh_a_hist(symbol="002838", period="daily", start_date="20231120", end_date='20231124', adjust="")
print(stock_zh_a_hist_df)

           日期     开盘     收盘     最高     最低    成交量          成交额    振幅   涨跌幅  \
0  2023-11-20  13.63  13.62  13.70  13.49  20731  28155062.00  1.54  0.07
1  2023-11-21  13.62  13.64  13.80  13.60  23623  32355003.24  1.47  0.15
2  2023-11-22  13.59  13.51  13.73  13.50  21763  29578591.88  1.69 -0.95
3  2023-11-23  13.46  13.61  13.64  13.46  19327  26248644.60  1.33  0.74
4  2023-11-24  13.61  13.49  13.64  13.44  18765  25341356.35  1.47 -0.88

    涨跌额   换手率
0  0.01  0.53
1  0.02  0.61
2 -0.13  0.56
3  0.10  0.50
4 -0.12  0.48

In [17]:
import db
db.fetch_min_data()

Exception in thread Thread-32:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 954, in _bootstrap_inner
Exception in thread Thread-31:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 954, in _bootstrap_inner
    self.run()
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 892, in run
    self.run()
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 892, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/mac/Downloads/myflask/db.py", line 73, in get_min_data
    with lock:
NameError: name 'engine' is not defined
    self._target(*self._args, **self._kwargs)
  File "/Users/mac/Downloads/myflask/db.py", line 73, in get_min_data
    with lock:
NameError: name 'engine' is not defined
Exception in thread Thread-30:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 954, in _bootstrap_inner
    self.run()
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 892, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/mac/Downloads/myflask/db.py", line 73, in get_min_data
    with lock:
NameError: name 'engine' is not defined
Exception in thread Thread-29:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 954, in _bootstrap_inner
    self.run()
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 892, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/mac/Downloads/myflask/db.py", line 73, in get_min_data
    with lock:
NameError: name 'engine' is not defined

In [ ]:
import akshare as ak
import pandas as pd
import threading
from sqlalchemy import create_engine
from datetime import datetime, timedelta
db_username = 'root'
db_password = 'qwertyui'
db_host = 'localhost'
db_port = '3306'
db_name = 'schemas'
table_name = 'stock_info'

# 创建数据库引擎
engine = create_engine(f'mysql+pymysql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')

sql = f"SELECT * FROM {table_name}"


lock = threading.Lock()
monitor = 0

In [45]:
import db
code = "000001"
data = ak.stock_zh_a_hist(symbol=code,period="daily",start_date="20221120",end_date="20231119",adjust="")
data = data.rename(columns={
    '日期': 'date',
    '开盘': 'open_price',
    '收盘': 'close_price',
    '最高': 'high_price',
    '最低': 'low_price',
    '成交量': 'volume',
    '成交额': 'turnover',
    '振幅': 'amplitude',
    '涨跌幅': 'price_change_pct',
    '涨跌额': 'price_change_amt',
    '换手率': 'turnover_rate'
})
data['stock_id']=code
db.pd2sql(data,"stock_hist")

In [8]:
import akshare as ak
stock_intraday_sina_df = ak.stock_intraday_sina(symbol="sz000001", date="20231127")
stock_intraday_sina_df

       symbol  name  ticktime  price  volume  prev_price kind
0    sz000001  平安银行  09:25:00  10.09  735300        0.00    U
1    sz000001  平安银行  09:30:00  10.09   51900       10.09    U
2    sz000001  平安银行  09:30:03  10.09  197800       10.09    U
3    sz000001  平安银行  09:30:06  10.08   88900       10.09    D
4    sz000001  平安银行  09:30:09  10.08  230500       10.08    D
..        ...   ...       ...    ...     ...         ...  ...
717  sz000001  平安银行  14:17:09  10.00   76000       10.00    U
718  sz000001  平安银行  14:17:27  10.00   73700       10.00    D
719  sz000001  平安银行  14:17:42  10.00   22800        9.99    U
720  sz000001  平安银行  14:19:18  10.00   34400       10.00    D
721  sz000001  平安银行  14:19:54  10.01   47200       10.01    U

[722 rows x 7 columns]

In [5]:
import akshare as ak

stock_zh_a_spot_em_df = ak.stock_zh_a_spot_em()
print(stock_zh_a_spot_em_df.columns)

Index(['序号', '代码', '名称', '最新价', '涨跌幅', '涨跌额', '成交量', '成交额', '振幅', '最高', '最低',
       '今开', '昨收', '量比', '换手率', '市盈率-动态', '市净率', '总市值', '流通市值', '涨速', '5分钟涨跌',
       '60日涨跌幅', '年初至今涨跌幅'],
      dtype='object')

In [14]:
import akshare as ak
from datetime import datetime
now = datetime.now()
stock_zh_a_spot_em_df = ak.stock_zh_a_spot_em()
stock_zh_a_spot_em_df = stock_zh_a_spot_em_df.rename(columns={
            '名称': 'stock_name',
            '代码': 'stock_id',
            '今开': 'open_price',
            '最新价': 'close_price',
            '最高': 'high_price',
            '最低': 'low_price',
            '成交量': 'volume',
            '成交额': 'turnover',
            '振幅': 'amplitude',
            '涨跌幅': 'price_change_pct',
            '涨跌额': 'price_change_amt',
            '换手率': 'turnover_rate'
        })
stock_zh_a_spot_em_df = stock_zh_a_spot_em_df.filter([
    'stock_name',
    'stock_id',
    'open_price',
    'close_price',
    'high_price',
    'low_price',
    'volume',
    'turnover',
    'amplitude',
    'price_change_pct',
    'price_change_amt',
    'turnover_rate'
])
date_str = now.strftime('%Y%m%d')  # 日期，格式为“年月日”
time_str = now.strftime('%H:%M')  # 时间，精确到分钟
stock_zh_a_spot_em_df['date'] = date_str
stock_zh_a_spot_em_df['time'] = time_str
print(stock_zh_a_spot_em_df)

     stock_name stock_id  open_price  close_price  high_price  low_price  \
0           新赣江   873167       16.00        18.72       18.72      15.70
1          驰诚股份   834407       11.83        11.83       11.83      11.83
2          开特股份   832978       12.46        14.69       14.69      12.33
3           阿为特   873693       45.00        59.20       59.20      44.07
4          邦德股份   838171       12.75        16.08       16.08      12.71
...         ...      ...         ...          ...         ...        ...
5550       天龙集团   300063        7.11         6.67        7.17       6.60
5551       常山药业   300255       15.83        14.00       16.36      13.80
5552       德恩精工   300780       24.38        21.65       24.40      21.63
5553       中文在线   300364       31.85        27.01       31.99      27.00
5554       森远股份   300210       12.00        10.33       12.15      10.33

         volume      turnover  amplitude  price_change_pct  price_change_amt  \
0      138058.0  2.469657e+08      20.97             30.00              4.32
1        5657.0  6.691900e+06       0.00             30.00              2.73
2      192992.0  2.626149e+08      20.88             30.00              3.39
3       63866.0  3.332595e+08      33.22             30.00             13.66
4       64767.0  9.270329e+07      27.24             29.99              3.71
...         ...           ...        ...               ...               ...
5550  1602210.0  1.094667e+09       7.61            -10.95             -0.82
5551  1232082.0  1.894789e+09      16.18            -11.50             -1.82
5552   226100.0  5.168821e+08      10.96            -14.33             -3.62
5553  1817430.0  5.282003e+09      14.79            -19.97             -6.74
5554   949771.0  1.032526e+09      14.10            -19.98             -2.58

      turnover_rate      date   time
0             70.27  20231128  04:02
1              4.01  20231128  04:02
2             22.48  20231128  04:02
3             52.82  20231128  04:02
4             12.48  20231128  04:02
...             ...       ...    ...
5550          25.81  20231128  04:02
5551          13.45  20231128  04:02
5552          21.91  20231128  04:02
5553          27.55  20231128  04:02
5554          19.64  20231128  04:02

[5555 rows x 14 columns]

In [18]:
from datetime import timedelta,datetime
end_date = datetime.now().strftime("%Y%m%d")
start_date = (datetime.now() - timedelta(days=1)).strftime("%Y%m%d")
data = ak.stock_zh_a_hist(symbol="000001",period='daily',start_date=start_date,end_date=end_date,adjust="")
data = data.rename(columns={
    '日期': 'date',
    '开盘': 'open_price',
    '收盘': 'close_price',
    '最高': 'high_price',
    '最低': 'low_price',
    '成交量': 'volume',
    '成交额': 'turnover',
    '振幅': 'amplitude',
    '涨跌幅': 'price_change_pct',
    '涨跌额': 'price_change_amt',
    '换手率': 'turnover_rate'
})
data['stock_id']="000001"
data

,date,open_price,close_price,high_price,low_price,volume,turnover,amplitude,price_change_pct,price_change_amt,turnover_rate,stock_id
0,2023-11-27,10.09,10.01,10.09,9.97,836188,8.362684e+08,1.19,-0.89,-0.09,0.43,000001